@namespace MyApp.Components

@inject EditOrderViewModel Vm
@inherits RxComponentBase

<button disabled="@(!canSave)" @onclick="Vm.Save">
    Save
</button>

@code {
    bool canSave;

    protected override void OnInitialized()
    {
        Subscribe(Vm.CanSave, v =>
        {
            canSave = v;
            InvokeAsync(StateHasChanged);
        });

        Subscribe(Vm.Order.Data.Changes, order =>
        {
            Console.WriteLine($"OrderNumber: {order?.OrderNumber}");
        });

        Vm.LoadOrder(Guid.NewGuid());
    }
}
