@namespace BlazorApp.Components

@inject EditOrderViewModel Vm
@implements IDisposable

<button disabled="@(!canSave)" @onclick="Vm.Save">
    Save
</button>

@code {
    bool canSave;
    IDisposable? sub;

    protected override void OnInitialized()
    {
        sub = Vm.CanSave.Subscribe(v =>
        {
            canSave = v;
            InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose() => sub?.Dispose();
}
