:deep(.rz-header.app-header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.logo {
    width: calc(262px * 0.3);
    height: calc(192px * 0.3);
    object-fit: contain;
}

:deep(.user-name) {
    font-style: italic;
    font-weight: 500;
}
