@namespace MyApp.WebUI.Features.Orders
@inherits RxComponentBase
@inject EditOrderViewModel VM

<button disabled="@(!VM.CanSave)" @onclick="VM.Save">
    Save
</button>

@code {
    protected override void OnInitialized()
    {
        Bind(VM);
        VM.LoadOrder(Guid.NewGuid());
    }
}
