@page "/"
@namespace MyApp.WebUI.Pages

@inject HttpClient HttpClient
@inject NavigationManager Nav
@inject AuthViewModel AuthVM
@inherits RxComponentBase

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />

<NavLink href="product">Go to Product Page</NavLink>
<NavLink href="orders">Go to Orders Page</NavLink>

<hr />

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>

<PermissionAuthorizeView Policy="@Policies.OrderView">
    <Authorized>
        Authorized
        <p>@Username</p>
    </Authorized>
    <NotAuthorized>
        <button onclick="Login">Login</button>
    </NotAuthorized>
</PermissionAuthorizeView>

<button @onclick="SayHelloAsync">SayHello</button>

@code {
    string? Username = null;

    protected override void OnInitialized()
    {
        Subscribe(AuthVM.Username, username =>
        {
            Username = username;
        });
    }

    async Task SayHelloAsync()
    {
        try
        {
            var response = await HttpClient.GetStringAsync("/hello");
            Console.WriteLine(response);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    void Login() {
        //Nav.NavigateTo("authentication/login");
        Console.WriteLine("Login clicked");
    }

    void ButtonClicked()
    {
        Console.WriteLine("Button clicked");
    }
}
